[2010-06-09 07:19] csnover opened #1 "Wrap setTimeout/setInterval"
Those are asynchronous and so we should eat them.

[2010-06-12 05:22] csnover opened #2 "Breaks jQuery UI"
The jQuery.event.add override causes jQuery UI draggables to never stop dragging.

[2010-06-12 05:22] csnover opened #3 "Record information on AJAX failure"
When an AJAX failure occurs it would be useful to add the XHR data to the stacktrace as well.

[2010-06-12 12:31] #2 closed, assigned to nobody

[2010-06-29 10:05] #1 closed, assigned to nobody

[2011-01-04 02:01] rdw opened #4 "setTimeout, setInterval wrappers return undefined instead of the handle"
Too lazy to do a pull request; here's a patch:

[code]

[2011-01-20 18:39] aim12340 opened #5 "jQuery detection detectng more than jQuery"
The jQuery detection here:
    if (!$) {
    return;
    }

detects any $ function as jQuery, which is often not the case.  When another $ function exists it passes this test and i then get various other errors below this line.

a good alternative seems to be
    if (typeof jQuery == 'undefined') {
      return;
    }

hope you can include this is the next update

[2011-01-20 19:32] #4 closed, assigned to nobody

[2011-01-21 03:32] #5 closed, assigned to nobody

[2011-01-23 14:34] aim12340 opened #6 "Object doesn't support property or method at return _oldSetTimeout.apply(this, arguments)"
i'm getting quite a few errors like this.

Object doesn't support this property or method
at line
return _oldSetTimeout.apply(this, arguments);

I dont use setTimeout on my site.  It seems some services are injecting JS onto my web pages as immediatley before this error i get another error.  For example:
Object doesn't support this property or method
at
https://www.superfish.com/ws/sf_conduit.jsp

[2011-01-24 10:05] #6 closed, assigned to nobody

[2011-09-20 00:22] aehlke opened #8 "setTimeout (and likely setInterval) fail with string arguments"
If you give setTimeout a string argument like setTimeout("alert()", 100); it complains that the string object has no apply method.

[2012-12-11 00:51] #3 closed, assigned to nobody

[2012-12-11 00:51] #8 closed, assigned to nobody

[2015-05-14 05:17] fizerkhan opened #12 "Angular exception issue"
Angular gives exception with `stack` string as

[code]

When i compute stacktrace using `TraceKit.computeStackTrace(exception)`, the result `stack` array does not include first line

[code]

I could see the first line has two word for `function` name. Will that be problem?

[2015-05-15 03:03] niemyjski commented on #12
I'll try and add a test for this.

[2015-05-15 14:56] niemyjski opened #13 "Synchronous XMLHttpRequest on the main thread is deprecated because of its detrimental effects to the end user's experience."
I get the following error in chrome when loadSource is called:

[code]

[code]

[2015-05-15 22:18] niemyjski opened #14 "Bring in external changes."
Bring in external changes from raygun / raven and others who have made changes in their local repo.

[2015-05-18 02:40] niemyjski commented on #14
https://github.com/getsentry/raven-js/issues/345

[2015-05-18 02:40] niemyjski commented on #14
https://github.com/MindscapeHQ/raygun4js/issues/114

[2015-05-18 02:53] niemyjski commented on #12
This should now be fixed in the latest build: https://github.com/csnover/TraceKit/blob/master/tracekit.js#L636

[2015-05-18 02:53] #12 closed

[2015-05-18 04:45] fizerkhan commented on #12
@niemyjski  Thanks. I will check.

[2015-05-24 14:18] niemyjski commented on #14
I've been trying to get a hold of raven to talk about some of their changes. I'll need to create some unit tests before I do any more merging.

[2015-05-24 21:49] rwhogg opened #18 "API documentation should be published"
There's JSDoc in the source code, but as far as I can tell it's not rendered and published anywhere. We should publish it - perhaps a gh-pages branch off this repo would be a good place.

[2015-05-25 03:02] niemyjski commented on #18
Yeah, do you have any links go a good docs generator?

[2015-05-25 03:55] rwhogg commented on #18
JSDuck is pretty nice - https://github.com/senchalabs/jsduck

[2015-05-26 13:25] niemyjski commented on #18
+1 I'll take a look into this.. It probably will be a few weeks before I can spend time on docs.

[2015-06-01 11:42] niemyjski opened #20 "Add unit tests for parsing stack traces"
This should include cross browser unit tests.. I talked with @occ and he said he might have some that he was working on.

[2015-06-02 13:54] niemyjski opened #21 "IE9 window.onerror handler is never called."
I noticed this when my errors thrown from IE9 were not picked up by our handler.

[2015-06-02 13:58] niemyjski commented on #14
We may want to see what improvements we can make via ( https://bugsnag.com/blog/js-stacktraces/ )

[2015-06-02 14:14] niemyjski commented on #21
This is due to IE9 disable script debugging ( http://bartwullems.blogspot.com/2012/03/internet-explorer-9-javascript.html ).

[2015-06-02 14:14] #21 closed

[2015-06-03 22:25] niemyjski opened #23 "Verify that the Edge browser is working as expected."

[2015-06-16 16:35] niemyjski commented on #23
I've verified that it works in the latest edge browser.

[2015-06-16 16:35] #23 closed

[2015-06-16 16:35] niemyjski commented on #20
@occ, where you able to find those unit tests?

[2015-06-19 21:25] niemyjski commented on #18
@rwhogg I just came across this as well: http://dokkerjs.com Have you used this?

[2015-06-19 21:27] niemyjski commented on #13
I think this code may also have issues on IE 8/9... I'd like to abstract this code so we could inject node specific / web specific logic to get the source.

[2015-06-19 21:28] niemyjski commented on #13
I've battle tested some code here: https://github.com/exceptionless/Exceptionless.JavaScript/blob/master/src/submission/DefaultSubmissionClient.ts#L56-L161 We should take a look and slim this down to fit this use case.

[2015-06-19 22:28] rwhogg commented on #18
Sorry, I've never heard of it.

[2015-06-29 13:52] niemyjski opened #25 "Add support for plugins"
We should try and modularize the code base so the jquery/ajax and  window.onerror logic is separated out. So if you're not using it, you're not paying the overhead cost.

[2015-06-29 14:05] niemyjski commented on #14
I just asked a bunch of detailed questions here: https://github.com/getsentry/raven-js/issues/345 I'd like to bring in some of their changes but I have questions.

[2015-06-29 14:07] niemyjski commented on #18
@rwhogg If I create a branch for gh-pages, do you want to do a pull request for this? It would be a huge help.

[2015-06-29 14:07] niemyjski commented on #18
At this point any docs are better than no docs :).

[2015-06-29 17:45] niemyjski commented on #18
@rwhogg I just had this idea: https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=jsdocs%20github%20wiki maybe we could just use jsdocs generator to generate content for the wiki! Then everything is in one site.

[2015-06-29 17:50] niemyjski commented on #18
https://github.com/thlorenz/wicked

[2015-06-29 18:00] rwhogg commented on #18
Sounds like a good idea, but sadly I'm really pressed for time at the moment.

[2015-07-01 20:06] blackrabbit99 commented on #25
I forked you library to start the experiment
I'm gonna try do it for my project but still have several questions about how I should maintain it

[2015-07-01 20:22] niemyjski commented on #25
What are your questions :)? I'll work with you until it's perfect and then we'll help maintain it too via a pull request :D

[2015-07-02 07:55] blackrabbit99 commented on #25
So lets look on simple example. jQuery error handling.
[code]

The question number 1. We should discuss error format. Maybe is there reason to describe error format in separate file? Because It should be the same for all plugins and handling options.

The second question. Where should the plugins store? In separate repos or into some folder?

[2015-07-03 14:28] niemyjski commented on #25
@blackrabbit99 you could take a look at how raven did it. Also, there is an existing pull request here: https://github.com/occ/TraceKit/pull/49/files

I also have been talking to someone on Skype who wanted to work on this too. I'll forward this to them.

[2015-07-03 14:34] niemyjski commented on #25
@blackrabbit99, I kinda like the idea of a plugins/integrations folder, what about you? We'll currently I think our window.onerror script would be a good example.

For example newer browsers return an actual error object but if not they specify like 5 parameters and we resolve it from there into a stack trace..

I'd like to have one generic method that takes the original error if it's there and th

[2015-07-11 16:27] niemyjski commented on #20
I just signed up for an oss account on sauce labs and just created a branch to bring in unit tests. I'm going to try and work on bringing in the tests from https://github.com/stacktracejs/error-stack-parser as the license states you can use tests / code etc..

[2015-07-20 17:31] niemyjski commented on #20
Tests can be found here: https://github.com/csnover/TraceKit/tree/unit-tests

[2015-07-25 12:04] dcramer commented on #14
Some changes that would need pulled in from raven.js before we'd consider using upstream:

- lastArgs in processLastException
- rethrow argument on report

Other changes I'd like to see:

- Removal of non-core features from primary lib (TraceKit.wrap, source code fetching, setTimeout/setInterval patching)
- useragent is a constant, and should not constantly be added to objects
- mode = failed does

[2015-07-25 12:09] niemyjski commented on #14
I've been wanting to bring these changes in. Could you please do two separate pull requests for the first two with a very brief  explanation of last args and report and what issues you saw / fixed. This would be a huge help as I'm in the middle of writing unit tests.

I want to ditch user agent completely. What is mode even used for? I thought we could ditch that too as I wasn't sure what value it

[2015-07-25 12:16] dcramer commented on #14
We have no desire to help maintain TraceKit upstream at this time. To be frank have too much other stuff to do. I personally don't work on raven.js, and when it comes down to it we don't need 50% of the code in the project. I'd rather invest our time into removing TraceKit than pushing more changes upstream, but we're willing to reconsider that if upstream maintainers can push in the same directio

[2015-07-25 12:19] niemyjski commented on #14
We don't expect you to contribute but it would be helpful (I can diff it as well). Yeah I agree some things need to change and they will.

[2015-07-25 14:15] dcramer commented on #14
https://github.com/getsentry/raven-js/pull/315 as it points out whatever the original change was is currently incorrect

[2015-07-28 18:03] markoj21 opened #28 "NuGet package"
First let me say that i really enjoy using your library and thank you for the hard work.

Can you create a nuget package for this library?

Thanks.

[2015-07-28 22:21] niemyjski commented on #28
I'd recommend using the bower or npm package. Microsoft is urging users to use bower or npm and is even including first class support for both inside of VS2013/2015. Have you considered using this?

[2015-07-29 12:39] niemyjski commented on #28
@markoj21 does this work for you or do you think we should still create a nuget package? The downside of creating a nuget package is it's one more thing to do per release.

[2015-08-08 05:08] fizerkhan commented on #25
@niemyjski That will be great. i started with Jquery plugin https://github.com/MindscapeHQ/raygun4js/blob/master/src/raygun.tracekit.jquery.js But i ended up with lot of anonymous and file 0 and col 0 in stacktraces during ajax errors. Do you have any idea why it is happening?

[2015-08-08 15:18] niemyjski commented on #25
I'm not sure, but if you could create a small unit test / sample that reproduces I'll help take a look.

[2015-08-08 15:32] niemyjski commented on #28
@markoj21 what are your thoughts?

[2015-08-08 15:33] niemyjski commented on #20
Just found a great video on how to enable karma debugging in webstorm: http://blog.jetbrains.com/webstorm/2013/10/running-javascript-tests-with-karma-in-webstorm-7/ this should save me a bunch of time :D

[2015-08-09 06:55] fizerkhan commented on #25
@niemyjski Created jsfiddle for this test case. Please check it

http://jsfiddle.net/fizerkhan/w64j03r9/8/

[2015-08-09 15:47] niemyjski commented on #25
@fizerkhan if you look at the thrown error there is no line numbers or anything other than the function name. With this said, do you think it could be because jquery is loaded from a cdn and there is a security / cors functionality that is blocking the script?

[2015-08-09 16:30] #20 closed

[2015-08-09 16:43] niemyjski opened #30 "Add unit tests for winjs and edge"
We need test cases for these browsers.

[2015-08-09 17:54] niemyjski commented on #25
@fizerkhan So I did some looking and pulled jquery from rawgit as well (http://jsfiddle.net/bniemyjski/hrh0y8kd/3/). I think it's because we are trying to guess the stack trace.. If you look at the passed in error, it's just a string.

![image](https://cloud.githubusercontent.com/assets/1020579/9156147/ba474e68-3e95-11e5-9f9f-2ecf0fc8f38c.png)

What are your thoughts on this?

[2015-08-10 07:03] fizerkhan commented on #25
@niemyjski  Thanks. I too tried with **crossorigin="anonymous"** in Jquery script tag as well as with local Jquery. I get the same **null* valued stacktraces.

I don't have any idea why Jquery returns error message as string.

I have a question:

Why Tracekit returns stack traces of **null** file name, line number, and  column number for an error message  which is just a string.

[2015-08-10 13:33] niemyjski commented on #25
@fizerkhan I think it's because it's trying to compute it from the current stack trace, there maybe some issues with this code. We'll need to take a look into this and debug your sample more.

[2015-08-10 14:42] fizerkhan commented on #25
@niemyjski Thanks, we will do it. I really appreciate your quicker response.

[2015-08-10 14:48] niemyjski commented on #25
No problem :), Thanks for your help!

[2015-08-10 16:39] markoj21 commented on #28
Hi thank you your input,

npm is a great alternative, with the projects i work with nuget is supported by most other packages making it very easy to update and stay current. Having multiple package managers adds extra complexity but maintaining multiple distribution channels makes releases more difficult.
I think you can close this and put it under it would be nice to have :)

[2015-08-10 16:42] niemyjski commented on #28
Thanks for the feedback!

[2015-08-10 16:42] #28 closed

[2015-08-10 16:43] niemyjski commented on #14
I just got rid of user agent and url. More work to do but it's a start.

[2015-08-13 07:54] Aeon opened #31 "Add support for source maps?"
Cloning over from https://github.com/occ/TraceKit/issues/61:

-----
Adding support for getting cleaner stack traces from minified JS files via source maps would be pretty amazing.

Can leverage mozilla/source-map project for [decomposing sources in ES5-compliant browsers](https://github.com/mozilla/source-map#consuming-a-source-map)

[2015-08-13 15:53] niemyjski commented on #31
Yes, I would like this to be a plugin so those who need it can buy into it. This is something we will be working on in the near future. I'd also like source maps. The last time I looked into it, they only supported amd, is this still the case?

[2015-09-02 15:25] dimmetrius opened #32 "The handlers are called twice when calling TraceKit.report"
Hello!

I created a simple page to test TraceKit:
https://github.com/dimmetrius/TraceTest.git
and this page deployed to site:
http://tracekit.azurewebsites.net

Why do I have 2 error message?

[2015-09-02 15:27] niemyjski commented on #32
That's a good question. Any chance you could debug into it and see how many times report is being called.

[2015-09-02 15:54] dimmetrius commented on #32
function traceKitWindowOnError called after throw ex in line:255

[2015-09-02 19:16] niemyjski commented on #32
I'll have to take a closer look, I'll use your sample when I get some free time..  Is there any chance you could take your small sample and merge it into our tests?

[2015-09-02 20:37] dimmetrius commented on #32
it('it should not throw', function (done){

            var i = 0;

            function handler(stackInfo) {
                i++;
            }

            TraceKit.report.subscribe(handler);

            function test() {
                try {
                    a++;
                } catch (e) {
                    TraceKit.report(e);
                }
            }

            expect(test).

[2015-09-03 13:37] niemyjski commented on #32
Thanks, I'll add this to the tests this weekend and take a look. It's been kind of crazy here with travel the past two weeks

[2015-09-09 13:41] niemyjski commented on #32
This weekend was crazy, I'll try my best to look into this very soon.

[2015-09-09 16:09] niemyjski commented on #14
I'm one step closer to bringing in the raven changes. I just finished the unit tests a few weeks ago and need to get this working this weekend.

[2015-09-09 16:18] niemyjski commented on #32
@dimmetrius, I just added your unit tests with a few tweaks but when I run `grunt test` I'm seeing

[code]

Are you seeing this as well? I would of thought the assert would fail not the exception expect. Do you know if just calling TraceKit.Report(new Error()) causes this as well?

[2015-09-09 16:20] niemyjski commented on #32
Seems the report is rethrowing the exception.. I'll have to step into this more. Thanks for the test.

[2015-09-15 13:17] niemyjski commented on #32
@dimmetrius, so the last line of report rethrows the exception so the window.onerror can get the exception and we can get a fuller stack trace. This is stupid however as we already have the fully captured stack trace. I need to look into merging in some changes from #14 which will resolve this behavior.

[2015-09-18 09:43] auchenberg commented on #31
Inspiration https://github.com/stacktracejs/stacktrace-gps

[2015-09-18 16:17] niemyjski commented on #31
Yes, I really really want this and could use this sooner than later. I need to start working on the plugin system. I want to have source maps be an optional plugins because mozilla source maps is huge (30KB).

[2015-09-21 02:21] niemyjski commented on #32
@dimmetrius @devinrhode2,

I did some looking into refactoring and cleaning up the report method. I'd like to get rid of all the window on error logic in there and cleanup reporting handlers.. I noticed this comment:

[code]

I'm thinking that maybe this was only for really old versions of IE (I'm not sure). I know this library tries to cover all browsers back to ie5.. But we could break compat an

[2015-09-22 12:28] mightyiam commented on #31
:+1: from https://github.com/jquery/qunit/issues/590

[2015-09-24 12:14] niemyjski commented on #25
I've been thinking about this more and want to do something with this shortly. I think I'd like to have plugins get registered and then they are called when events happens or on startup.

To me it makes sense that a plugin would automatically register handlers in two ways:
1. It would register itself with TraceKit as a plugin
2. It would wire itself up to any handlers (window.onerror) and report t

[2015-09-24 12:15] niemyjski commented on #25
On a last note, I don't think that we should be special casing anything. Everything should be going threw public functions if it needs to do something. This allows others to integrate with it and extend it.

[2015-10-08 15:14] Lendar commented on #32
Hi there! I'm testing TraceKit with IE6. For the reference: I'm using [TraceKit from raven-js#1.1.22](https://github.com/getsentry/raven-js/blob/1.1.22/vendor/TraceKit/tracekit.js)

Seems that re-throw is helpful in IE6 and some other browsers.

Not sure how I can test it. But currently I have full stack traces working in IE6 (i.e. TraceKit brings 10+ frames, all with line numbers and source code

[2015-10-08 15:37] niemyjski commented on #32
Is there any chance you could write out the stack trace before the throw and after so we can compare ?

Sent from Outlook

On Thu, Oct 8, 2015 at 8:14 AM -0700, "Denis Elistratov" <notifications@github.com> wrote:

Hi there! I'm testing TraceKit with IE6. For the reference: I'm using TraceKit from raven-js#1.1.22

Seems that re-throw is helpful in IE6 and some other browsers.

But we could break c

[2015-10-08 16:31] dimmetrius commented on #32
You can make a special setting,
for example: TraceKit.oldIEcompatible = true;

But it makes little sense to fight for compatibility with old IE.
Beginning January 12, 2016, only the current version of Internet Explorer available for a supported operating system will receive technical support and security
https://technet.microsoft.com/en-us/ie/mt163707

[2015-10-08 16:59] niemyjski commented on #32
Well I'd try not to break anything. I just wonder what's all missing if we don't rethrow this info.. All I have is modern browsers. I'd need to set up an old xp vm or something and take a look.

[2015-10-08 16:59] niemyjski commented on #32
What I'm curious is can you write out the raw original exception and then the trace that tracekit generates after rethrowing. So we can see the difference.

[2015-10-08 17:12] Lendar commented on #32
@niemyjski tested that patch

[code]

Then I compared stack traces using sentry.js. Everything was same except 1 last frame (which actually caused error) – it is gone.

[2015-10-09 16:02] niemyjski commented on #32
So the top stack trace line is missing completely? Looks like I should pull down windows xp and setup a vm.

[2015-10-11 14:22] niemyjski opened #34 "Look into using something like sauce labs for compatibility diagrams"
https://saucelabs.com/u/seamless-immutable

[2015-10-11 20:58] niemyjski commented on #14
@dcramer I'm going to close this. I've merged in the changes we both felt were needed. We need to add some kind of flag to report but I kinda want to overhaul it very soon with plugins (creating a branch now). We need this flag as it directly effects #32

[2015-10-11 20:58] #14 closed

[2015-10-11 21:20] niemyjski commented on #25
I'm going to start on this this week in a feature/plugins branch. If anyone wants to have a discussion about this in the next three days please comment or send me an email and we can setup a google hang out or Skype session. I was planning on looking at the existing pull request as well as raven... I'd like to have a core library that's really trimmed down and and agnostic that just does the parsi

[2015-10-22 20:32] niemyjski commented on #25
Reference: https://github.com/occ/TraceKit/pull/49/files I'm not sure if we'd use this but it's a good look at what has been done and how it looks.

[2015-10-23 14:02] HamsterCoder opened #35 "toString for error stack"
Right now as far as I can tell the stack is a very informative javascript object whereas in native exceptions - it is a string.

I think it will be a good idea to add some presets for toStringing stack, so it is easier to look at and display etc.

If you think it is a good idea too I can try to comeup with some solution.

[2015-10-23 15:00] niemyjski commented on #35
I like this but I think we would make this into a plugin to keep the code base as small as possible. I'm paring up with a second developer this weekend to start on plugins.

If you want you could work on writing up a function that does this and we can take it and put it into a plugin :).

[2015-10-23 17:06] HamsterCoder commented on #35
Ok, I'll try it this weekend if I can. Anyway if I come up with anything useful I'll be sure to post it here.

[2015-10-24 13:11] niemyjski commented on #25
So I just spent the last two hours looking at the source and also looking at how I could do this with typescript.. There are two things that I need to figure out

* Can I use es6 module syntax (targeting es3) and do a merge with plugins. You can do this with the legacy typescript external modules. Basically I want to be able to drop a plugin in and have it extend the TraceKit object... If I can't

[2015-10-24 23:21] niemyjski commented on #25
I'm working through a tracekit prototype, what do you guys think should be included in the core library? Did we just want to split out the jQuery stuff or also all code depending on global window object.

[2015-10-24 23:54] niemyjski commented on #25
I finally got it to compile in typescript but the generated definitions are basically worthless. This is caused by the way report and computestack trace is a function but also a property which child functions. It's almost like I have to split those out into child classes which I don't want to do cause I want to keep the library small.

If we went down the route of typescript we'd have to create mo

[2015-10-27 03:02] rwhogg commented on #25
I personally have no strong feelings here - I'm much more interested in what @dcramer et. al think.

[2015-11-09 16:03] pornel opened #36 "Support blob: URLs"
`createObjectURL()` can be used to create a URL in format `blob:http://origin/uuid` that's very handy for [creating Web Workers](http://stackoverflow.com/a/10372280/27009) and we also create `<script>` elements with these Blob URLs as part of workarounds for appcache being appcache.

The problem is that TraceKit doesn't recognize `blob:` URLs, and therefore Sentry doesn't recognize them either, so

[2015-11-09 17:17] niemyjski commented on #36
Would you mind creating a pull request for this?

[2015-11-17 15:41] #36 closed

[2015-11-17 16:20] niemyjski commented on #25
I started on this in the plugins branch and also played around with this with @frankebersoll here https://github.com/frankebersoll/TraceKit/tree/feature/typescript

I think we are still trying to figure out the best way todo this with our breaking everything completely.

[2015-12-04 02:53] rayqian opened #38 "Difference between https://github.com/stacktracejs/stacktrace.js and TraceKit"
BTW: is there any chat rooms for exchange message?

[2015-12-04 16:29] niemyjski commented on #38
I'm on gitter [here](https://gitter.im/exceptionless/Discuss) if you'd like to talk about it.

There are a few differences to take note:
* TraceKit supports es3 browsers where StackTrace doesn't
* StackTrace doesn't parse some stack traces correctly (IE).
* StackTrace is a little more modular, something we are trying to do with plugins here (if you'd like to help that would be greatly appreciated)

[2015-12-08 20:15] #38 closed

[2015-12-18 01:39] benvinegar commented on #25
:+1:

Let me know how I can help. We've vendored/forked TraceKit with a bunch of local modifications – like removing the setTimeout wrapping from TraceKit.js. I'd very much like to get back onto mainline TraceKit, and if there's a way I can help, let me know.

Migrating everything to TypeScript at the same time seems like a distraction, though.

[2015-12-18 01:43] benvinegar opened #40 "Make it possible to alter `debug`"
The `debug` variable is declared as a "private" variable inside `TraceKit.computeStackTrace`. It seems the only way to alter it is to edit the source code.

https://github.com/csnover/TraceKit/blob/master/tracekit.js#L319

Can we make this modifiable, say, via `TraceKit.debug`?

[2015-12-18 16:01] niemyjski commented on #25
@benvinegar That would be a huge help, I got really stuck on the typescript portion because of the way the new module system works, they don't make it easy. Is there any chance you'd take a stab at this (I'll create a plugins branch now). I'll work with you and help out over the holidays.

[2015-12-18 16:04] niemyjski commented on #40
@benvinegar any specific reason for wanting this exposed? I guess for testing your own scripts? I think that we need to expose more things but stay out of property hell. If we have a good use case for this, lets expose it (can you submit a pr).

[2015-12-27 23:09] yavorg commented on #13
Do you recommend we leave remoteFetching off in production until this is addressed?

[2015-12-28 13:45] niemyjski commented on #13
Yeah, I think we should make this the default, as it could cause extra requests to be made

[2015-12-28 13:45] niemyjski commented on #13
Can you submit a pull request for this.

[2016-01-09 14:22] thomasbachem opened #41 "error.name missing regularly, contained in message"
I observed that while `error.name` is empty regularly, some browsers prepend it to the message.

E.g. when having
[code]

Those are the observed values:

**Opera 12.12**
Name: `null`
Message: `Uncaught exception: Error: DOMException: INDEX_SIZE_ERR`

**Android Browser 4.2 + 4.4**
Name: `null`
Message: `Uncaught DOMException: INDEX_SIZE_ERR`

**Edge 12 + 13**
Name: `null`
Message: `DOMException: IN

[2016-01-09 17:28] thomasbachem opened #42 "Firefox trace isn't parsed correctly"
Firefox 43 has stack strings like these:

[code]

The `<` seems to indicate anonymous functions, but I have no idea where exactly the `dispatcher` thing comes from. You can maybe look into [Dojo's aspect.js](https://github.com/dojo/dojo/blob/1.10/aspect.js) to understand Firefox' behavior here.

Also I'm not sure whether the `Function()`/`eval()` stuff [documented at MDN](https://developer.mozilla

[2016-01-11 16:17] niemyjski commented on #42
@thomasbachem any chance you could add this case to the unit tests and update the code for this. I'll then push a new release.

[2016-01-12 16:42] niemyjski commented on #41
My only concern is how do we insure it's always populated correctly. I'd be more than happy to accept this if you have tests for every browser and it works as expected. This would be a very welcoming change.

[2016-02-04 19:25] niemyjski commented on #42
@thomasbachem were you able to look into this further?

[2016-02-04 19:26] niemyjski commented on #41
@thomasbachem would you mind submitting a pull request for this with tests.

[2016-02-04 19:26] niemyjski commented on #40
@benvinegar ^^

[2016-02-04 19:26] niemyjski commented on #18
@rwhogg have you had any time to look into this since June?

[2016-02-04 20:03] niemyjski commented on #42
@thomasbachem I think this may be fixed in the latest release that I just published. Can you please verify this.

[2016-02-05 05:30] rwhogg commented on #18
No. If you'd still like some help with it, I can look into it this weekend, but admittedly I haven't been doing much work with Tracekit recently.

[2016-02-05 16:53] niemyjski commented on #18
If you could that would be a huge help

[2016-02-06 17:10] rwhogg commented on #18
So far, I haven't had much luck with either dokker or wicked. Both keep throwing errors.

[2016-02-08 14:15] niemyjski commented on #18
@rwhogg Thanks a ton, what are the next steps that I would need to take with jsdocs? If you could let me know what needs to be done we could steal this [gh-pages logic](https://github.com/exceptionless/Exceptionless.UI/blob/master/src/grunt/task-configs/gh-pages.js) for automatically publishing content to a gh-pages branch.

[2016-02-08 21:26] benvinegar commented on #40
@niemyjski I think this was as a convenience. I didn't like that I needed to edit a file, rebundle Tracekit, in order to do some simple debugging.

I wasn't aware this was a thing. I personally don't see a problem with exposing options as properties.

[2016-02-09 04:19] rwhogg commented on #18
Here's what I'd recommend doing next:

1. Clean up the formatting in some places. Some of the comments don't look exactly right when rendered as Markdown - particularly the comments for `TraceKit.computeStackTrace` and `TraceKit.report`.
2. Document the return types for said functions with [@typedef]() and use those type definitions rather than using inline return value descriptions.
3. Pick out t

[2016-02-09 04:27] rwhogg commented on #18
Edit: I'm currently working on trying \#2 for `computeStackTrace`. I'll let you know how it goes.

[2016-02-09 15:45] niemyjski commented on #40
If you want to submit a pull request I'll accept it. I just thought that if you are debugging an issue you should be using unminified sources

[2016-02-09 15:46] niemyjski commented on #18
@rwhogg thanks a ton! Let me know when it's safe to merge or if there is anything I can do to help.

[2016-02-11 18:28] niemyjski commented on #18
I think it looks pretty good first pass. If anything we might have to make some things `@private` on the inner functions.

I guess the next step is to host this someplace like on github pages?

[2016-02-12 04:19] rwhogg commented on #18
I'm seeing the following error from `grunt jsdoc` after https://github.com/csnover/TraceKit/commit/e5fbdb5bfd56dc9803f29bccc2dd43b59f3dbcb2 was merged:

Warning: jsdoc terminated with a non-zero exit code Use --force to continue.

Yeah, IMO the next step is to host this on GitHub Pages.

[2016-02-12 07:12] niemyjski commented on #18
I converted it to be optional as per there spec I guess we need to change it back to ?

Sent from Outlook Mobile

On Thu, Feb 11, 2016 at 8:19 PM -0800, "Bob W. Hogg" <notifications@github.com> wrote:

I'm seeing the following error from grunt jsdoc after e5fbdb5 was merged:

ERROR: Unable to parse a tag's type expression for source file /home/bob/src/tracekit/tracekit.js with tag title "property"

[2016-03-11 20:09] benvinegar opened #49 "Handle frames generated by Firefox internal errors (e.g. NS_ERROR_FAILURE)"
It's possible to get Firefox to generate errors that bubble up from its internals. They can generate bizarre stack trace formats that are not currently handled by TraceKit.

More here: https://developer.mozilla.org/en-US/docs/Mozilla/Errors

Example `error.stack` from such an error, generated by `try/catch` around w/ `XMLHttpRequest.prototype.send` that fails in a specific situation:

[code]

Trac

[2016-03-11 20:58] niemyjski commented on #49
@benvinegar would you mind submitting a test and patch for this and we'll get this pushed asap.

[2016-03-16 14:08] niemyjski commented on #49
@benvinegar were you able to take a look into this?

[2016-03-16 14:09] niemyjski commented on #42
@thomasbachem were you able to confirm if this was fixed?

[2016-03-16 17:23] benvinegar commented on #49
I'll take a stab this week.

[2016-03-16 18:05] auchenberg commented on #42
You might wanna take a look at this package, https://www.npmjs.com/package/error-stack-normalizer

[2016-03-16 18:32] niemyjski commented on #42
@auchenberg I've taken a look at it, we actually do quite a few things better than them, but currently they are more modular...

[2016-03-16 18:40] auchenberg commented on #42
@niemyjski Yeah, but this is a simply "normalizer" that's 100% separate that I wrote. You could consider use and contribute to the normalization logic instead of putting everything inside TraceKit :)

[2016-03-16 19:31] niemyjski commented on #42
Yes, but it requires buy in to a module loader and doesn't work with older browsers (es3 or lower)

[2016-03-16 19:32] niemyjski commented on #42
Let alone it doesn't correctly parse ie stack traces because ie is lame and doesn't always include the top stack frame

[2016-03-17 01:32] benvinegar commented on #49
Test added in #50

[2016-03-17 01:32] benvinegar commented on #49
Oh I guess I should fix it too ... ^_^

[2016-03-22 18:12] #49 closed

[2016-03-22 18:15] niemyjski commented on #42
I believe this is fixed in the following issue & pr (https://github.com/csnover/TraceKit/issues/49)

@benvinegar can you confirm? This looks like the same issue. I'll work on getting a release out in the next day or two unless someone needs it asap.

Please reopen this issue if it's not fixed.

[2016-03-22 18:15] #42 closed

[2016-03-22 18:18] niemyjski commented on #34
I got an oss license for this and will try and get some unit tests up and running for this.

[2016-04-05 09:28] dylanvdmerwe opened #51 "Update docs for TypeScript"
There really should be some information on how to use this lib through npm and TypeScript.

I'm trying to get this to work in an Angular 2 based project with not much luck.

[2016-04-05 09:39] dylanvdmerwe commented on #51
`npm install tracekit --save`

`import * as tracekit from 'tracekit';`

Does not work.

[2016-04-05 15:41] niemyjski commented on #51
@dylanvdmerwe I have a sample app here but I'm not using it through npm.

https://github.com/exceptionless/Exceptionless.JavaScript/tree/master/src

I have the typescript def copied to the typings directory and it would be a lot better if I didn't have this. Would you be willing to push the updated def to the  tsd directory (with all the other typescript definitions)?

I put the definition in our

[2016-04-05 18:44] niemyjski commented on #51
I just pushed a new version of typescript which fixes the npm typescript typings. They should now be automatically be pulled in.

[2016-04-06 06:15] dylanvdmerwe commented on #51
I'm still trying to figure out TypeScript and how to get everything to work from a JavaScript world.

Basically I'm trying to get TraceKit to work in an Ionic 2 project which is built on Angular 2 and TS. I have installed the new npm module, but no matter what I do, I cannot get a reference to TraceKit in order to use the report methods.

[2016-04-06 14:05] niemyjski commented on #51
Can you create a public repo with a very simple project using (local dependencies like ionic) and I'll pull it down and take a look. Please include the code and imports where you are getting stuck.

[2016-04-06 15:42] dylanvdmerwe commented on #51
See https://github.com/dylanvdmerwe/ionic-tracekit.

Once you grab the repo, go to the folder:
[code]

[2016-04-06 20:28] niemyjski commented on #51
This should be fixed according to the master branch. Can you grab the latest master change and see if it fixes it.

[2016-04-06 20:38] dylanvdmerwe commented on #51
That resolves the intellisense issue which is great. However the lib does not work during runtime.

![capture](https://cloud.githubusercontent.com/assets/2852839/14332049/2aee31c0-fc48-11e5-98f3-66a7277d5b59.jpg)

[2016-04-06 22:22] niemyjski commented on #51
So this is only the ambient typing that is being brought in. I don't see where you are actually referencing the tracekit javascript file and bringing it in as a dependency.

[2016-04-07 06:11] dylanvdmerwe commented on #51
No you cannot just reference the js. Everything is built and bundled into a singular javascript file and as such there would be nowhere to reference this.

For example, when I npm install lodash, I do not have to reference the various js files in the project.

Doesn't the js file need to have module exports?

[2016-04-07 12:24] niemyjski commented on #51
Did the exports fix it completely? If so, I think we need to move to a standardized umd pattern:

[code]

I've been using typescript in my own project and concatted tracekit to our builds. I don't get how having an exports helps here because you are referencing the ambient definition (tracekit.d.ts) for intellisense which doesn't do anything for the actual file import.

[2016-04-07 15:38] frankebersoll commented on #51
I didn't see this issue (and PR #54) and added pull request #53 for this yesterday. Now you should be able to install it with npm and just import it like this:

`import * as TraceKit from 'tracekit'`

[2016-04-13 13:22] niemyjski commented on #51
@dylanvdmerwe were you able to get this to work with the latest release?

[2016-04-13 13:24] dylanvdmerwe commented on #51
With the changes I made as per my pull request I was able to get this working yes.

[2016-04-13 20:34] niemyjski commented on #51
@dylanvdmerwe would you look into updating your pr to support umd pattern. I'm not willing to accept your pr as is as I know for 100% that it will break anyone not using amd / module loader.

[2016-04-26 12:05] davidomid opened #57 "getSource doesn't support urls in the format: protocol://domain:port/path"
getSource won't retrieve from source urls when the base url contains a port, such as:

http://localhost:62828/ or other internal applications which use a specific port number.

[2016-04-26 12:33] niemyjski commented on #57
Fixed via pull request (thanks!)

[2016-04-26 12:33] #57 closed

[2016-04-29 22:00] #51 closed

[2016-05-03 15:01] niemyjski commented on #51
@dylanvdmerwe I've done extensive testing (4 hours) and I've think I've fixed a number of bugs that were dealing with typescript and es6. I've created a new release (https://github.com/csnover/TraceKit/releases/tag/v0.4.0) with more info on typescript usage.  Is there any chance you want to fork `typings/repository` and link to our definitions?

[2016-05-06 19:58] davidomid commented on #31
Was there any further progress with this? Source maps would be incredibly useful. I'm happy to take a stab at a possible implementation if nobody else has a viable one yet?

[2016-05-06 20:33] niemyjski commented on #31
We were trying to change up tracekit to be more plugable by that effort stalled a bit. If you want to take a stab at this I'd be more than happy to work with you. It just needs to be optional as the source map lib is an extra 30KB

[2016-06-20 16:57] niemyjski commented on #41
@thomasbachem Any chance you can provide a pr for this :).

[2016-06-20 20:49] thomasbachem commented on #41
Sadly not :/ I'm out of coding for some time and focussing on other stuff.

[2016-07-13 02:59] rgossiaux opened #61 "Module loading code throws errors in strict mode"
In the check `if (typeof module !== 'undefined' && module.exports && this.module !== module)` the `this.module` part fails in strict mode, where `this` is undefined. Since this check is intended to determine if the `module` in scope is coming from the global scope, replacing with `window.module` gives the correct behavior.

[2016-07-13 03:12] #61 closed

[2016-07-13 03:13] niemyjski commented on #61
Thanks for this fix. I'll try putting out a release soon.

[2016-07-31 11:02] adi518 commented on #13
Why do you fetch with a sync request anyway? :)

[2016-07-31 13:59] niemyjski commented on #13
@adi518 I didn't write this logic but I assume it's because it has to work in ie6, we try and have it work as expected on all browsers.

[2016-10-29 21:21] arbesfeld opened #65 "New release?"
Any chance of putting up a new release on NPM? Thanks!

[2016-10-30 01:09] niemyjski commented on #65
Sure I'll get one out tomorrow or monday

[2016-11-01 19:32] niemyjski commented on #65
Published! https://github.com/csnover/TraceKit/releases/tag/v0.4.4

[2016-11-01 19:32] #65 closed

[2016-11-15 06:40] vivekmarakana commented on #31
Can I take this up? I've already created a plugin for the same.

[2016-11-15 15:49] niemyjski commented on #31
yeah, please do! It would be greatly appreciated

[2016-11-16 07:23] vivekmarakana commented on #31
Great. will open a pull request soon.

[2016-11-16 09:15] vivekmarakana commented on #13
Also, we need URL validation before making call. Sometimes error stack is not valid and that leads the call to `eval at globalEval (http://cms.pharmeasy.in/assets/a929fb88/jquery.js:2:3123), <anonymous>` for context

[2016-11-16 20:37] niemyjski commented on #13
@vivekmarakana would you mind looking into this?

[2016-11-17 05:23] vivekmarakana commented on #13
sure

[2016-12-25 09:25] futpib opened #66 "`repors.subscribe` subscribers have no access to the original Error object"
Access to the original `Error` instance is needed if your errors may contain additional debug info, for example, fetch `Request`, like [github/fetch suggests](https://github.com/github/fetch/blob/df0f332/README.md#handling-http-error-statuses).

One may want to try to get some info from `error.request` before submitting error report to server.

[2016-12-28 14:48] niemyjski commented on #66
Yeah, I just noticed that when you pointed it out. The only non breaking change here would be if we added a third param to  the handlers (https://github.com/csnover/TraceKit/blob/master/tracekit.js#L160). Would you mind submitting a pr with a unit test for this and I'll accept it and get a new release out asap.

[2016-12-28 16:06] futpib commented on #66
Awesome, will do.

[2017-01-06 11:10] sdwvit commented on #13
Hey, any updates on this? Maybe drop support of ie6 (and maybe 7,8,9)?

[2017-01-06 14:49] niemyjski commented on #13
I never heard back, would you mind looking into it? I don't see us dropping support for IE anytime soon. (https://www.netmarketshare.com/browser-market-share.aspx?qprid=2&qpcustomd=0) there are probably ~billion users still running those crappy versions of IE and we need to detect errors still for them :(.

[2017-01-16 15:36] #66 closed

[2017-01-16 15:37] niemyjski commented on #66
Do you need a release out for this right away?

[2017-01-16 15:52] futpib commented on #66
Not really, I managed to monkey-path this in before reporting >_<
Appreciate your involvement though

[2017-03-01 18:07] benvinegar opened #69 "Wipes `url` property from stack if url contains "native""
[This line:](https://github.com/csnover/TraceKit/blob/master/tracekit.js#L716)

[code]

... is trying to determine whether the "URL" part is `[native code]` (etc), but fails if any part of a real URL contains the string `"native"`, e.g. `https://example.com/static/js/lib/native.js`.

[2017-03-01 21:45] niemyjski commented on #69
Nice find, any chance you can submit a test + patch for this and I'll get it merged in asap.

[2017-06-29 16:40] #69 closed

[2017-06-29 16:41] niemyjski commented on #40
@benvinegar would you mind submitting a pr for this.

[2017-06-29 16:53] benvinegar commented on #40
@niemyjski I mean, I could, but at this point I no longer have need for the flag and nobody else has commented or +1'd this.

[2017-06-29 17:37] #40 closed

[2017-08-03 12:53] ncoden commented on #31
Hey @vivekmarakana. How is it going ?

[2017-09-06 17:22] mlynch opened #71 "Unable to set remoteFetching in TypeScript"
The way `remoteFetching` is defined and exported makes it (nearly?) impossible to modify in a TypeScript context.

This example causes a TS error:

[code]

And the error:

[code]

I've tried to trick typescript into allowing modification of this by assigning it to another variable but its properties have had `Object.preventExtensions` marked on them, which I'm guessing is part of the module import

[2017-09-11 12:37] niemyjski commented on #71
I don't see `Object.preventExtensions` used anywhere in our entire codebase. Would you mind taking a closer look into this and submit a pr. I'm not sure of anything that would be causing this.

[2017-10-04 04:43] jh3141 opened #72 "Catch unhandled promise rejection events"
Promise rejection events can be caught via the [`window.onunhandledrejection` event](https://developer.mozilla.org/en-US/docs/Web/API/WindowEventHandlers/onunhandledrejection).  If an exception is thrown during processing of a Promise (either during its initial execution phase or during processing a "then" function attached to it), the Promise is rejected and the "`reason`" entry in the rejection

[2017-10-06 13:46] niemyjski commented on #72
Can you submit a pr for this?

[2017-12-19 18:58] marceloogeda commented on #13
I recently received this as a warning level in Chrome version _63.0.3239.x_

![captura de tela 2017-12-19 as 11 28 27](https://user-images.githubusercontent.com/3205036/34173758-af4613aa-e4dd-11e7-8474-0086842cda7c.png)

[2017-12-20 21:03] niemyjski commented on #13
@marceloogeda Would you mind submitting a pull request for a newer implementation that falls back based on support?

[2017-12-22 12:18] marceloogeda commented on #13
@niemyjski sure, I'll make the required changes and submit it.

[2017-12-22 13:00] niemyjski commented on #13
Might be able to take the code from here: https://github.com/exceptionless/Exceptionless.JavaScript/blob/master/src/submission/DefaultSubmissionAdapter.ts but we need to be sure we try catch any errors.

[2018-01-09 08:53] nponiros commented on #71
ECMAScript module imports are read-only. So `TraceKit.remoteFetching = false;` is not allowed by the spec and TypeScript seems to be enforcing this. Executing the code in a browser with ECMAScript module support would also fail.

This will probably work:

[code]

[2018-01-10 15:09] niemyjski commented on #71
Thanks for the clarification! If there still is an issue here please let us know.

[2018-01-10 15:09] #71 closed

[2018-02-23 17:06] niemyjski commented on #72
@jh3141 can you submit a pr for this

[2018-02-23 17:06] niemyjski commented on #35
Were you able to ever get around this?

[2018-04-26 13:06] adrienbu commented on #31
Any news on this ?

[2018-04-26 13:17] niemyjski commented on #31
I haven't heard anything on this. Would you mind jumping in and submit a pr
for this.

[2018-05-02 07:26] adrienbu commented on #31
I'll have a try but I cannot promise anything !

[2018-07-09 18:36] ghostd commented on #72
Here is a PR: #73

[2018-09-03 19:04] ghostd commented on #72
Hi @niemyjski

Can we close this issue and bump the version please? I'd like to update my deps with a version handling the promises.

Thx

[2018-09-07 13:49] niemyjski commented on #72
@ghostd yes, I'll cut a release. I was just trying to get https://github.com/csnover/TraceKit/pull/68 merged in as well.

[2018-09-07 13:49] niemyjski commented on #72
Could you please review this as well

[2019-03-15 02:31] cseufert opened #75 "TypeError: Cannot read property 'tagName' of null"
I have sentry.io setup, but my errors are being gobbled up by errors in TraceKit. I have no idea how to reproduce it, but its coming from chrome 65 on windows 10 via some sort of mouse event.

[2019-03-15 02:37] #75 closed

[2019-03-20 04:01] niemyjski commented on #75
Hello, Were you able to figure out what was causing this?

[2019-03-24 22:47] cseufert commented on #75
It appears like TraceKit is throwing it trying to resolve the `event.target`, but when you look at the code it can't be the case (there is a test if `target` exists, and then `tagName` exists on `target`), however the line number of the throw is consistently inside the TraceKit minified blob within sentry.io

Short answer, No, I'm hoping at some point sentry.io pull in the latest TraceKit, and may

[2019-03-25 14:22] niemyjski commented on #75
Have you reached out to them?

[2019-04-01 21:07] cseufert commented on #75
Nah, haven't contacted them, being I'm just using their free plan.

Interestingly, sentry is now pointing into its own code with this error now.
`./node_modules/@sentry/browser/dist/index.js in HTMLDocument.n at line 3197:1`
[code]

And it looks as if the event that is causing this issue is originating from a click on an SVG element.

[2019-04-02 12:20] niemyjski commented on #75
They source import it and have a few changes of their own. I try to sync them when I get some free time, they really should be better oss citizens as we all win.

We wrap various event handlers with error handling, maybe this is what you are seeing. If you could post the full unminified stack trace it would be helpful. That seems really weird, if you are able to narrow this down could you add a te

[2019-04-03 02:43] cseufert commented on #75
The issue is I don't know how to reproduce the error in my app. Sentry.io only report this error as the error, which I believe is during it attempting to get a stack trace.

So all I get is something like this:
[code]

[2019-04-11 13:18] niemyjski commented on #75
I don't see anywhere in our code (https://github.com/csnover/TraceKit/blob/master/tracekit.js) where we call any property called tagName. Which makes me feel like it's something that happening in the sentry libs. I'm guessing we are in the stack trace because we are wrapping various window functions in try catch logic and reporting those.

[2019-09-09 10:02] adams-family commented on #72
I confirm that 'Possible unhandled rejections' are still not being caught at this moment. Is there a workaround for this? Thanks.

[2019-09-09 14:46] niemyjski commented on #72
I was under the impression that this has been fixed. Can you please add
some tests or send us a demo that fails and let us know under which browser
it fails.
Thanks
-Blake Niemyjski

On Mon, Sep 9, 2019 at 5:02 AM adams-family <notifications@github.com>
wrote:

[2019-09-13 19:44] adams-family commented on #72
Hi Blake,
Sorry for the late answer, I managed to create a demo of my issue.
Just open `index.html` and look at the F12 console. You'll see a Possible unhandled rejection not being caught by Tracekit.
Maybe it's beacuse of something stupid but it wasn't able to figure it out.
Thanks, Adam

[Demo.zip](https://github.com/csnover/TraceKit/files/3611573/Demo.zip)

[2019-10-23 14:54] rgehan opened #76 "Extremely long delays on errors with a long message"
I'm using mobx-state-tree, which generates very long error messages, when trying to instantiate a model with data that doesn't match the defined schema.

It appends a full dump of the the data to the message, among other things.

I've seen it generate a 300kB message from a 10kB JSON payload.

When calling Sentry.captureException(error), I notice delays around ~90s.

The issue seems to originate f

[2019-10-23 16:58] niemyjski commented on #76
Perhaps we only run the Regex if the string length is reasonable?

Sent from my iPhone

[2019-10-23 18:05] rgehan commented on #76
Couldn't we remove the "message" from the "stacktrace" so as to only keep the actual stack trace part of it?

This is a naive suggestion, as I don't know all the possible formats or use cases.

[2019-10-23 18:30] niemyjski commented on #76
I'd think we would always want it because sometimes that's the only thing
we have. I'm not sure if we should supply a callback to modify it or limit
the regex. I think we may want to optimize the regex and limit the string
length of what we are parsing?

On Wed, Oct 23, 2019 at 1:05 PM Renan GEHAN <notifications@github.com>
wrote:

[2020-04-08 12:01] erikdubbelboer commented on #72
Since this has been merged is there any plan to tag a new release?

[2020-04-08 13:39] niemyjski commented on #76
can you submit apr for this?

[2020-04-08 14:23] niemyjski opened #77 "Fix flakey tests"
There are five flakey tests that have to do with ensuring the `window.onerror` is called and works properly. This needs to be mocked or figure out why the test occasionally hangs.

[code]

[2020-04-08 14:24] niemyjski commented on #72
I've pushed this in a release, sorry for the delay: https://github.com/csnover/TraceKit/releases/tag/v0.4.6

[2020-04-08 14:24] #72 closed

[2020-04-08 14:26] #34 closed

[2020-04-08 14:26] niemyjski commented on #35
Can you submit a pr for this?

[2020-04-08 14:27] #30 closed

[2020-04-08 14:27] niemyjski commented on #18
Is there any chance you could take a stab at this. I got everything moved into GitHub actions but could use some help.

[2020-04-08 14:28] niemyjski commented on #13
Can anyone submit a pr for this.

[2020-04-08 14:29] niemyjski commented on #32
Can you verify if this is fixed with the latest release. If it's not can you comment and let me know and we will reopen this.

[2020-04-08 14:29] #32 closed

[2020-04-09 11:06] rwhogg commented on #18
I apologize, I haven't used TraceKit in several years. I completely forgot this issue was still open; you can close it if you want.

[2020-04-09 14:41] niemyjski commented on #18
If someone wants to submit a pr for this that would be awesome, I'm going to close this in the mean time.

[2020-04-09 14:41] #18 closed

[2020-06-04 05:46] MurugappanVR opened #78 "Capture network errors & add breadcrumbs ?"
@niemyjski can we use [xhr onerror](https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequestEventTarget/onerror) to capture network errors and also maybe add user breadcrumbs like click action, page load , xhr calls, console warning messages etc ?

[2020-06-08 15:10] niemyjski commented on #78
I responded to this but I don't see the answer.... Short answer yes you could do this but I wouldn't. I would use a client side library that's meant to catch and report these like exceptionless or other related product.

[2021-01-27 13:30] acaballes opened #83 "TraceKit Unhandled Promise Rejection 0.4.6 not yet published in NPM"
HI, the release for this issue https://github.com/csnover/TraceKit/releases/tag/v0.4.6 here is not yet published in the npm package https://www.npmjs.com/package/tracekit. still 0.4.5.

Can we please published it also in the npm?

Thanks,
Algie

[2021-01-27 14:03] acaballes opened #84 "TraceKit will get an undefined error type and message on Unhandle Promise rejection error"
pls see images.

![Screenshot from 2021-01-27 22-03-06](https://user-images.githubusercontent.com/12888878/106001920-7b786180-60eb-11eb-9da3-001134a614d6.png)
![Screenshot from 2021-01-27 22-00-41](https://user-images.githubusercontent.com/12888878/106001955-83d09c80-60eb-11eb-88db-6edcf49976a7.png)

[2021-01-28 12:59] niemyjski commented on #84
Hello,

Would you mind submitting a pr with a fix for this issue and/or a unit test?

[2021-01-28 13:29] niemyjski commented on #83
Thanks for opening an issue for this. I thought I had this automated... I've just pushed this release out there.

[2021-01-28 13:29] #83 closed

[2021-01-29 14:56] acaballes commented on #84
hi @niemyjski , I will try to create a fix for this one on my freetime. Will reply to the thread If I have solution on this one.

[2021-07-14 01:52] renboen commented on #84
Any news for this？ @acaballes

[2021-07-20 13:38] spoterala opened #86 "Cannot read property 'name' of undefined"
I've got an error like in title. It's in function computeStackTrace in last return when tries to get ex.name.

It is called by function traceKitWindowOnUnhandledRejection (and I don't have more stacktrace).

Could you tell me why I got this error?

[2021-07-20 13:49] niemyjski commented on #86
This is a function that is wired up to https://developer.mozilla.org/en-US/docs/Web/API/WindowEventHandlers/onunhandledrejection and handles this type of event. Sounds like that event can be null. Can you let us know how you reproduced it and with the specifics of what browser/os you were using with specific versions.

[2021-11-28 17:03] MurugappanVR opened #87 "ESLint problems for tracekit.js"
Hi, on running ES linter with browser configurations for tracekit.js file found a few issues , can we may be configure a linter in git actions to fix these issues automatically ?
<img width="787" alt="Screenshot 2021-11-28 at 10 30 49 PM" src="https://user-images.githubusercontent.com/24951764/143778141-f70fe238-1e99-45db-80ee-14992aa16fea.png">

[2021-11-28 18:47] niemyjski commented on #87
Would be better as part of the build. Would you mind adding Eslint with standard recommendations with fixes in a pr

[2021-11-30 05:50] MurugappanVR commented on #87
Yeah sure . I'll raise a pr for this.

[2022-02-11 17:21] BenoitZugmeyer opened #89 "Unexpected error when computing Gecko stack traces"
By reviewing TraceKit code, I found an issue where the stack trace computation fails in certain condition. Keep in mind that I didn't observe an actual error matching this condition.

See [the code in question](https://github.com/csnover/TraceKit/blob/8f74ec6bcf7183e979c14e465c7abdd9fe4ce28e/tracekit.js#L819-L824):

[code]

The issue is, if `i === 0`, then the `stack` array is always empty, so acc

[2022-02-11 18:50] niemyjski commented on #89
Thanks for reporting this issue, we appreciate it. Any chance you'd be willing to submit a pr with a second modified test and a fix. I wish sentry would help the community by contributing back fixes.

[2022-09-06 12:34] saranRe opened #96 "TraceKit Report is not exported from package"
[code]
I added tracekit in my ts file. I try to run that file, I got error like below

[code]

[2022-09-06 12:41] niemyjski commented on #96
That looks right, if you log out the TraceKit imported object what do you see? I have never used `TraceKit.report.subscribe`

[2022-09-09 06:47] saranRe commented on #96
This issue happens in my typescript file have any idea for this error?

[2022-09-09 13:31] niemyjski commented on #96
@saranRe Can you add a test for this, might just need to update the typescript definition